<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		    <link rel="stylesheet" href="/static/stylesheets/paper-stack.css" type="text/css" media="screen, projection">
		    
		    <link rel="stylesheet" href="/static/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
            <link rel="stylesheet" href="/static/stylesheets/blueprint/print.css" type="text/css" media="print"> 
            <!--[if IE 6]>
              <link rel="stylesheet" href="/static/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection">
            <![endif]-->
            
		    
			<title>paper-stack: 
				{% block title %}
					
				{% endblock %}
			</title>
		{% block head %}
			
		{% endblock %}
	</head>
	<body>
	    
	    <div class="container">
	    
    	    <div id="header" class="span-10">>
                <a href="/"><img src="/static/images/header.png" /></a>
                
                <div id="header-menu">
                    <ul>
                        <li><a href="/">Home</a></li>                        
                        <li><a href="/submit">Submit</a></li>
                        <li><a href="">Latest</a></li>
                    </ul>
                </div>
    	    </div>
	    
			<div class="span-10">
    		{% block body %}
			    			
    		{% endblock %}
    		</div>
		
    	    <div id="footer">
    	        <span class="quiet">header image courtesy of <a href="http://flickr.com/photos/striatic/443918201/">striatic</a></span>
    	    </div>
	    </div>
	</body>
</html>