<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		    <link rel="stylesheet" href="stylesheets/paper-stack.css" type="text/css" media="screen, projection">
			<title>paper-stack: 
				{% block title %}
					
				{% endblock %}
			</title>
		{% block head %}
			
		{% endblock %}
	</head>
	<body>
		{% block body %}
			
		{% endblock %}
		
	    <div id="footer">
	        
	    </div>
	</body>
</html>